body {
	background: url(bkgd.png) 3px 0 repeat-x;
	background-color: #091626;
	background-position: top;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#content {
	position:absolute;
	right: 0;
	top: 221px;
	width: 150px;
	padding: 0 30px 50px 15px;
	font-size: small;
	color: #FFFFFF;
}

.sidebox {
	background: #92A4AE url(logo-small.png) no-repeat left bottom;
}
